<div class="w-1/2 mx-auto bg-white p-8">
  <!-- 上部タイトル -->
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold"><%= @spot.title %></h1>
  </div>

  <!-- 画像ギャラリー -->
  <%= render partial: "spots/image_gallery", locals: { spot: @spot } %>

    <!-- タグボタン -->
  <div class="mb-6 flex space-x-4">
    <%= render partial: "spots/spot_tags", locals: { spot: @spot } %>
  </div>

  <!-- タブナビゲーション -->
  <div class="border-b border-gray-200 mb-6">
    <nav class="-mb-px flex space-x-8" aria-label="Tabs">
      <%= link_to t('spots.show.detail_tab'), spot_path(@spot), class: "text-gray-900 whitespace-nowrap py-4 px-1 border-b-2 border-yellow-500 font-medium text-sm"%>
      <%= link_to t('spots.show.review_tab', count: @reviews_count), spot_reviews_path(@spot), class: "text-gray-500 whitespace-nowrap py-4 px-1 border-b-2 border-transparent font-medium text-sm" %>
      <%= link_to t('spots.show.map_tab'), "#", class: "text-gray-500 whitespace-nowrap py-4 px-1 border-b-2 border-transparent font-medium text-sm" %>
    </nav>
  </div>

<!-- 基本情報 -->
<div class="bg-white shadow rounded-lg p-6 mb-6 ">
  <h2 class="text-xl font-bold mb-4">基本情報</h2>
  <div class="text-gray-700">東京都台東区浅草2-3-1</div>
  <div class="text-gray-700">03-3842-0181</div>
  <div class="text-gray-700">創建年: 628年</div>
  <div class="text-gray-700 mb-4">約1400年の歴史を誇る、東京観光でも人気のあるお寺。</div>
  <div class="text-gray-700 mb-4"><%= @spot.description %></div>
  <div class="text-gray-700">投稿者</div>
  <div class="text-gray-700"><%= @spot.user.name %></div>
</div>


<div class="bg-white shadow rounded-lg p-6 mb-6">
  <%= render @reviews %>
  <!-- 口コミを投稿するボタン -->
  <div class="border-t border-gray-200 pt-4">
    <%= link_to t('spots.show.post_review'), new_spot_review_path(@spot), class:"w-full bg-yellow-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-yellow-600"%>
  </div>
  <button class="mt-4 text-blue-500 font-medium">
    <%= link_to t('spots.show.see_more_reviews', count: @reviews_count), spot_reviews_path(@spot) %>
  </button>
</div>


  <!-- 記事 -->
  <div class="bg-white shadow rounded-lg p-6 mb-6">
    <h2 class="text-xl font-bold mb-4">モデルプラン</h2>
    <div class="border border-gray-200 rounded-lg p-4 mb-4 flex">
      <img class="w-20 h-20 rounded-lg" src="article.jpg" alt="Article image">
      <div class="ml-4">
        <p class="text-lg font-medium">【2019夏】浴衣で東京を散策するなら！デートにもおすすめ6選</p>
        <p class="text-sm text-gray-500">aki2801</p>
      </div>
    </div>
    <div class="border border-gray-200 rounded-lg p-4 mb-4 flex">
      <img class="w-20 h-20 rounded-lg" src="article.jpg" alt="Article image">
      <div class="ml-4">
        <p class="text-lg font-medium">【2019夏】浴衣で東京を散策するなら！デートにもおすすめ6選</p>
        <p class="text-sm text-gray-500">aki2801</p>
      </div>
    </div>
    <button class="mt-4 text-blue-500 font-medium">もっと見る (50)</button>
  </div>
</div>
