<div class="w-1/2 mx-auto bg-white p-8">
  <%= render 'spots/title', spot: @spot %>
  <%= render partial: 'spots/image_gallery', locals: { spot: @spot } %>
  <%= render partial: 'spots/spot_tags', locals: { spot: @spot } %>
  <%= render 'spots/tabs', spot: @spot, reviews_count: @reviews_count %>
  <%= render 'spots/basic_info', spot: @spot %>
  <%= render 'spots/reviews', spot: @spot, reviews: @reviews, reviews_count: @reviews_count %>
  <%= render partial: "spots/related_articles", locals: { plans: @public_plans } %>
</div>
