<main class="py-0 px-5 my-0 mx-auto max-w-screen-xl h-full z-10">
  <section class="top-search">
    <div class="inner mx-auto py-10">
      <div class="title flex items-center space-x-4">
        <span class="flex items-center">
          <span class="ml-2 text-xl font-bold"></span>
        </span>
        <span class="text-lg"></span>
      </div>

      <!-- 検索バーとボタンの横並び -->
      <div class="search mt-6 flex justify-center">
        <form action="/search/" method="get" role="search" class="w-full max-w-lg">
          <div class="search-input flex w-full">
            <div class="flex-grow relative">
              <span class="absolute left-2 top-3">
                <svg viewBox="0 0 30 30" class="w-6 h-6">
                  <use xlink:href="/images/common/svg/icon.svg#icon_search"></use>
                </svg>
              </span>
              <input type="search" placeholder="エリア・スポット名で検索" aria-label="エリア・スポット名で検索" class="input input-bordered w-full h-12 pl-10">
            </div>
            <button class="btn btn-primary h-12 ml-2 px-6">検索</button>
          </div>
        </form>
      </div>
      <p class="mt-4 text-lg flex justify-center">
        旅行プランや、おすすめ観光スポットを探そう！
      </p>
    </div>
  </section>
  <section class="top-main">
  <h2 class="text-xl font-semibold">
    おすすめスポット
  </h2>
  <div class="flex space-x-4 overflow-x-auto py-4">
  <% @spots.each do |spot| %>
    <article class="min-w-[300px] bg-white rounded-lg shadow-md">
      <div class="relative">
        <% if spot.images.attached? %>
          <%= image_tag url_for(spot.images.first), alt: spot.title, class: 'w-full h-48 object-cover' %>
        <% end %>
      </div>
      <div class="p-4">
        <h3 class="text-lg font-semibold flex items-center">
          <svg class="w-4 h-4 mr-2" viewBox="0 0 30 30" aria-hidden="true">
            <use xlink:href="/images/common/svg/icon.svg#icon_pin_fill"></use>
          </svg>
          <%= spot.title %>
        </h3>
        <div class="description-container h-24 overflow-hidden">
          <p class="mt-2 text-gray-600 break-words break-all">
            <%= truncate(spot.description, length: 50) %> <!-- 長い説明は100文字でカット -->
          </p>
        </div>
        <div class="flex mt-4 space-x-2">
          <% spot.tags.each do |tag| %>
            <span class="badge bg-blue-500 text-white"><%= tag.tag_name %></span>
          <% end %>
        </div>

        <div class="flex items-center mt-4">
          <!-- レーティングのデザインは仮です。モデルに評価を追加する場合は変更してください -->
          <div class="rating">
            <input type="radio" class="mask mask-star bg-yellow-400" checked>
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
          </div>
          <p class="ml-2 text-sm">4.16 (104件)</p>
        </div>
      </div>
    </article>
  <% end %>
</div>

  <p class="mb-4 text-right">
    <a href="/" class="flex items-center justify-end text-blue-600">
      <svg class="w-4 h-4 mr-2" viewBox="0 0 30 30">
        <use xlink:href="/images/common/svg/icon.svg#icon_arrow"></use>
      </svg>
      <%= link_to t('home.spots_list'), spots_path, class: "text-blue-500" %>
    </a>
  </p>
</section>
<section class="top-main">
  <h2 class="text-xl font-semibold">
    おすすめプラン
  </h2>
  <div class="flex space-x-4 overflow-x-auto py-4">
    <!-- カード1 -->
    <article class="min-w-[300px] bg-white rounded-lg shadow-md">
      <div class="relative">
        <img class="w-full h-48 object-cover" src="https://storage.googleapis.com/recotori-prod-0820.appspot.com/review/thumbnail/79Okeda93aYiMXWI69erPgQHUTA2/18312F36-6F6A-4027-BEB2-85E541E1A15B.jpg" alt="白糸の滝">
      </div>
      <div class="p-4">
        <h3 class="text-lg font-semibold flex items-center">
          <svg class="w-4 h-4 mr-2" viewBox="0 0 30 30" aria-hidden="true">
            <use xlink:href="/images/common/svg/icon.svg#icon_pin_fill"></use>
          </svg>
          白糸の滝（静岡県富士宮市）
        </h3>
        <p class="mt-2 text-gray-600">
          天下の名瀑「静岡 白糸の滝」は、富士山の麓、静岡県富士宮市に位置します...
        </p>
        <div class="flex mt-4 space-x-2">
          <span class="badge bg-blue-500 text-white">自然・景勝地</span>
        </div>
        <div class="flex items-center mt-4">
          <div class="rating">
            <input type="radio" class="mask mask-star bg-yellow-400" checked>
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
          </div>
          <p class="ml-2 text-sm">4.16 (104件)</p>
        </div>
      </div>
    </article>
    <!-- カード2 -->
    <article class="min-w-[300px] bg-white rounded-lg shadow-md">
      <div class="relative">
        <img class="w-full h-48 object-cover" src="https://storage.googleapis.com/recotori-prod-0820.appspot.com/review/thumbnail/abHTpK1mIdcdXdrNjcZI72h4BTo1/566B343D-58B7-4A00-B0EF-13DD7DCB0DB1.jpg" alt="大通公園">
      </div>
      <div class="p-4">
        <h3 class="text-lg font-semibold flex items-center">
          <svg class="w-4 h-4 mr-2" viewBox="0 0 30 30" aria-hidden="true">
            <use xlink:href="/images/common/svg/icon.svg#icon_pin_fill"></use>
          </svg>
          大通公園
        </h3>
        <p class="mt-2 text-gray-600">
          「大通公園」は北海道札幌市の中心にある公園で、札幌市のシンボル的な存在です...
        </p>
        <div class="flex mt-4 space-x-2">
          <span class="badge bg-blue-500 text-white">公園</span>
        </div>
        <div class="flex items-center mt-4">
          <div class="rating">
            <input type="radio" class="mask mask-star bg-yellow-400" checked>
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
          </div>
          <p class="ml-2 text-sm">4.21 (119件)</p>
        </div>
      </div>
    </article>

    <!-- カード3 -->
    <article class="min-w-[300px] bg-white rounded-lg shadow-md">
      <div class="relative">
        <img class="w-full h-48 object-cover" src="https://storage.googleapis.com/recotori-prod-0820.appspot.com/review/thumbnail/abHTpK1mIdcdXdrNjcZI72h4BTo1/566B343D-58B7-4A00-B0EF-13DD7DCB0DB1.jpg" alt="白い恋人パーク">
      </div>
      <div class="p-4">
        <h3 class="text-lg font-semibold flex items-center">
          <svg class="w-4 h-4 mr-2" viewBox="0 0 30 30" aria-hidden="true">
            <use xlink:href="/images/common/svg/icon.svg#icon_pin_fill"></use>
          </svg>
          白い恋人パーク
        </h3>
        <p class="mt-2 text-gray-600">
          「白い恋人パーク」は札幌市に位置するチョコレートエンターテイメント施設です...
        </p>
        <div class="flex mt-4 space-x-2">
          <span class="badge bg-blue-500 text-white">遊園地・テーマパーク</span>
        </div>
        <div class="flex items-center mt-4">
          <div class="rating">
            <input type="radio" class="mask mask-star bg-yellow-400" checked>
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
          </div>
          <p class="ml-2 text-sm">3.94 (78件)</p>
        </div>
      </div>
    </article>
    <!-- カード3 -->
    <article class="min-w-[300px] bg-white rounded-lg shadow-md">
      <div class="relative">
        <img class="w-full h-48 object-cover" src="https://storage.googleapis.com/recotori-prod-0820.appspot.com/review/thumbnail/abHTpK1mIdcdXdrNjcZI72h4BTo1/566B343D-58B7-4A00-B0EF-13DD7DCB0DB1.jpg" alt="白い恋人パーク">
      </div>
      <div class="p-4">
        <h3 class="text-lg font-semibold flex items-center">
          <svg class="w-4 h-4 mr-2" viewBox="0 0 30 30" aria-hidden="true">
            <use xlink:href="/images/common/svg/icon.svg#icon_pin_fill"></use>
          </svg>
          白い恋人パーク
        </h3>
        <p class="mt-2 text-gray-600">
          「白い恋人パーク」は札幌市に位置するチョコレートエンターテイメント施設です...
        </p>
        <div class="flex mt-4 space-x-2">
          <span class="badge bg-blue-500 text-white">遊園地・テーマパーク</span>
        </div>
        <div class="flex items-center mt-4">
          <div class="rating">
            <input type="radio" class="mask mask-star bg-yellow-400" checked>
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
          </div>
          <p class="ml-2 text-sm">3.94 (78件)</p>
        </div>
      </div>
    </article>
    <!-- カード3 -->
    <article class="min-w-[300px] bg-white rounded-lg shadow-md">
      <div class="relative">
        <img class="w-full h-48 object-cover" src="https://storage.googleapis.com/recotori-prod-0820.appspot.com/review/thumbnail/abHTpK1mIdcdXdrNjcZI72h4BTo1/566B343D-58B7-4A00-B0EF-13DD7DCB0DB1.jpg" alt="白い恋人パーク">
      </div>
      <div class="p-4">
        <h3 class="text-lg font-semibold flex items-center">
          <svg class="w-4 h-4 mr-2" viewBox="0 0 30 30" aria-hidden="true">
            <use xlink:href="/images/common/svg/icon.svg#icon_pin_fill"></use>
          </svg>
          白い恋人パーク
        </h3>
        <p class="mt-2 text-gray-600">
          「白い恋人パーク」は札幌市に位置するチョコレートエンターテイメント施設です...
        </p>
        <div class="flex mt-4 space-x-2">
          <span class="badge bg-blue-500 text-white">遊園地・テーマパーク</span>
        </div>
        <div class="flex items-center mt-4">
          <div class="rating">
            <input type="radio" class="mask mask-star bg-yellow-400" checked>
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
            <input type="radio" class="mask mask-star bg-yellow-400">
          </div>
          <p class="ml-2 text-sm">3.94 (78件)</p>
        </div>
      </div>
    </article>
  </div>
  <p class="mb-4 text-right">
    <a href="/" class="flex items-center justify-end text-blue-600">
      <svg class="w-4 h-4 mr-2" viewBox="0 0 30 30">
        <use xlink:href="/images/common/svg/icon.svg#icon_arrow"></use>
      </svg>
      おすすめプラン
    </a>
  </p>
</section>
</main>
