<main class="py-0 px-5 my-0 mx-auto max-w-screen-xl h-full z-10">
    <!-- ヒーローセクション -->
  <section class="bg-cover bg-center py-16 bg-blue-200 mt-4 mb-4">
    <div class="text-center text-white">
      <h1 class="text-4xl font-extrabold drop-shadow-md">
        あなただけの旅行プランを作成・共有
      </h1>
      <p class="mt-4 text-lg font-extrabold drop-shadow-md">
        隠れた名所を探し、思い出をシェアしよう
      </p>
      <div class="mt-6">
        <!-- 検索バーとボタンの横並び -->
        <%= render 'shared/search', q: @q, url: spots_path %>
      </div>
    </div>
  </section>

  <!-- スポット一覧 -->
  <section class="top-main">
    <h2 class="text-xl font-semibold">
      スポット
    </h2>
    <div class="flex space-x-4 overflow-x-auto py-4">
      <% @spots.each do |spot| %>
        <%= render 'spot_card', spot: spot %>
      <% end %>
    </div>

    <p class="mb-4 text-right">
      <a href="/" class="flex items-center justify-end text-blue-600">
        <svg class="w-4 h-4 mr-2" viewBox="0 0 30 30">
          <use xlink:href="/images/common/svg/icon.svg#icon_arrow"></use>
        </svg>
        <%= link_to t('home.spots_list'), spots_path, class: "text-blue-500" %>
      </a>
    </p>
  </section>

  <!-- プラン一覧 -->
  <section class="top-main">
    <h2 class="text-xl font-semibold">
      プラン
    </h2>
    <div class="flex space-x-4 overflow-x-auto py-4">
      <% @plans.each do |plan| %>
        <%= render 'plan_card', plan: plan %>
      <% end %>
    </div>

    <p class="mb-4 text-right">
      <%= link_to 'プラン一覧へ', plans_path, class: "text-blue-500 hover:underline" %>
    </p>
  </section>
</main>
