<div class="bg-gray-100 p-4 rounded-lg shadow-sm">
  <!-- スポットのタイトル -->
  <h3 class="text-xl font-semibold"><%= spot.title %></h3>

  <!-- スポットの最初の画像 -->
  <% if spot.images.attached? %>
    <div class="relative mb-4">
      <%= image_tag url_for(spot.images.first), alt: spot.title, class: 'w-full h-64 object-cover rounded-lg mx-auto' %>
    </div>
  <% end %>

  <!-- スポットの説明 -->
  <p class="text-gray-700"><%= spot.description %></p>

  <!-- 移動時間と交通手段 -->
  <% plan_spot = @plan.plan_spots.find_by(spot: spot) %>
  <% if plan_spot %>
    <div class="text-gray-600 mt-2">
      <p>訪問予定時間: <%= plan_spot.visit_time.strftime("%H:%M") if plan_spot.visit_time %></p>
      <p>交通手段: <%= plan_spot.transport_method.presence || "未設定" %></p>
    </div>
  <% end %>

  <!-- スポット詳細ページへのリンク -->
  <div class="mt-4">
    <%= link_to '詳細を見る', spot_path(spot), class: "text-blue-500 hover:underline" %>
  </div>
</div>
